html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(35, 73, 99)
}

header{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 90%;
    margin: auto;
}

.header-container{
    border-bottom: 1px solid white;
    box-shadow: 0 10px 6px -5px #999;
    width: 100%;
}

.img-container{
    display: flex;
    align-items: center;
}

/* Nav Header */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
}

.nav-container a, .contactus a{
    text-decoration: none;
    font-size: 17px;
    color: #647078;
}

.nav-container a:hover{
    transition: all 0.4s ease 0s;
    color: #8b9aa5;
}

.img-container a:hover{
    border: none;
}

/*Contact Us Button*/
.contact-us-button{
    display: flex;
    align-items: center;
}

.button-design {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

.button-design:hover {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    padding: 25px;
}


/*Body*/

.img-body-wrapper{
    position: relative;
}

#body-background{
    min-height: 500px;
    background:url('images/body-image.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
    background-position: 80% 75%;
    background-size: 2200px;
    opacity: 60%;
    filter: brightness(70%);
}

.body-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.body-intro h1{
    color: rgba(255, 255, 255, 0.897);
    height: 100%;
    font-weight: 600px;
    font-size: 2.5em;
    padding: 10px;
    text-shadow: 0 0 40px rgba(0,0,0,0.59);
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
}

/* Section */

.body-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section-wrapper{
    width: 100%;
    margin: auto;
    min-height: 60vh;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.section-titles, .section-description p{
    width: 80%;
    margin: auto;
}

.section-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight:499;
    font-size: 2.2vw;
    color: rgb(35, 73, 99);
    padding-top: 10vh;
}

.section img{
    height: 50px;
    margin-bottom: 50px;
}

.section-titles h1, .section-titles h3{
    margin: 0;
    padding: 2px;
}

.section-description{
    width: 75%;
    font-size: 1.6vw;
    text-align: center;
    font-weight: lighter;
    padding: 3vh;
}

#section-wrapper-1{
    background: none;
    margin-bottom: 2em;
}

/* Section 2 Specific */

#section-2 .section-description{
    margin-bottom: 2em;
}

#section-2 h1{
    margin-bottom: 0;
}

#section-wrapper-2{
    display: flex;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

#section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#section-2 p{
    width: 100%;
}

#section-2 .section-description{
    color: rgb(35, 73, 99);
    text-align: start;
}

#section-2 img{
    width: 50%;
    height: auto;
    margin-bottom: 150px;
}

.section-description ul{
    color: black;
    margin-bottom: 2em;
}

ul li {
    padding: 12px;
    color: black;
}

.nav-button{
    background-color: white;
    border: 1.5px solid turquoise;
    color: turquoise;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 1.3vw;
    margin-left: 20px;
}

.nav-button:hover{
    transition: ease-in 0.2s;
    color: white;
    background-color: turquoise;
}

/*Our Experience*/

#section-3 p{
    width: 87%;
}

.client-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin-top: 2em;
    margin-bottom: 5em;
}

.client{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client img{
    height: 12vh;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.client:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.50);
}

#img-5{
    height: 8vh;
}

#img-2{
    height: 8vh;
    margin-bottom: 40px;
}

#img-1, #img-4, #img-6{
    height: 18vh;
}

/* Section 4 */
#section-wrapper-4{
    background: rgb(20, 43, 58);
    display: flex;
    width: 100%;
    min-height: 50vh;
}


#section-4 p, #section-4 h1{
    color: white;
}

#section-4 p{
    font-size: 1.1em;
    margin-left: 10px;
}

.location{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header header header"
    "location address location-2 address-2";
    margin: auto;
}

#section-4 img{
    height: 150px;
    width: auto;
    border-left: 1px solid white;
    padding: 10px;
}

#section-4 h1{
    font-size: 2.5em;
    grid-area: header;
}

.location-image{
    grid-area: location;
}

#location-image-2{
    grid-area: location-2;
}

.address{
    grid-area: address;
}

#address-2{
    grid-area: address-2;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    background:rgb(233, 233, 233);
    font-weight: lighter;
    color: rgb(73, 73, 73);
}